:root {
  --background-color: #ffffff;
  --text-color: #000035;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Charm", handwriting;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Birthstone", handwriting;
}

/* Add other global styles as needed */
