.audio-player {
  display: flex;
  flex-direction: column;
  color: #000035;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #000035; /* Adjust color as needed */
}

.seek-bar {
  width: 100%;
}

.duration {
  font-size: 14px;
}
